
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPanel.cshtml";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>
<div class="container">

    <h1 class="p-4 animate__animated  animate__wobble animate__delay-1s	" style="text-align: center !important; font-weight:bold;">Panele Hoş Geldiniz!</h1>
</div>

