
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/ContactLayout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/mainpage/css/Stil.css" />
    <link rel="stylesheet" href="~/Content/mainpage/css/about.css" />
    <title>BangThisBag  | About </title>
</head>
<div class="cart-table-area section-padding-100">
    <div class="row m-2" style="justify-content: center;">
        <div class="col-10">
            <a href="/Home/NewThisWeek"> <h1 class="p-4 animate__animated animate__fadeIn bests animate__slower title" style="text-align: center !important;">About Us</h1></a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class=" col-12   border aboutus animate__animated animate__bounceInUp animate__slow ">
                <div class="row ">
                    <div class="smallbox col-sm-4 col-md-5 col-lg-5" style="padding:0;"><img class="phone-img" src="~/Content/mainpage/img/imgBag.jpeg"></div>
                    <div class="  col-sm-8 col-md-7 col-lg-7">
                        <p style="text-transform:capitalize" class="aboutustext animate__animated animate__fadeInRightBig animate__delay-2s ">
                            In this adventure that we started as a small production company, our company has grown many times over and delivered products to many countries of the world due to the quality of our bags and our understanding of good service. Our company, which we started out as a family company, has decided to carry the brand bags produced by our company to all countries of the world over the internet network since 2005. Our mission has always been to produce and deliver the best quality brand bags with our team and to provide the best service. We don't just sell products, we bring you the best service as well as the product.
                        </p></div>

                </div>





            </div>
        </div>
        <div class="row justify-content-center p-4 altabout-area">
            <div class=" mr-4 videosmar col-12 col-sm-5 col-md-5 col-lg-5 altabout border aboutus animate__animated animate__slow ">

                <video width="100%" height="250px" controls>
                    <source src="~/Images/Videos/ChanelVideo.mp4" type="video/mp4">
                    <source src="~/Images/Videos/ChanelVideo.mp4" type="video/ogg">

                    Your browser does not support the video tag.
                </video>

            </div>

            <div class="ml-4 videosmar col-12 col-sm-5 col-md-5 col-lg-5 altabout border aboutus animate__animated animate__slow ">

                <video width="100%" height="250px" controls>
                    <source src="~/Images/Videos/videos2.mp4" type="video/mp4">
                    <source src="~/Images/Videos/videos2.mp4" type="video/ogg">

                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>

</div>

