@using Entities.Concrete
@model IEnumerable<Bag>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/PageLayout.cshtml";
}

<head>
    <title>BangThisBag  | Home</title>
</head>

<!-- Product Catagories Area Start -->
<div class="products-catagories-area clearfix">
    <div class="row m-2" style="justify-content: center;">
        <div class="col-10">
            <a href="/Home/Index" >   <h1 class="p-4 animate__animated animate__swing bests animate__repeat-3 title" style="text-align: center !important; ">Best Sellers And Our Bests</h1></a>
        </div>
    </div>
    <div class="amado-pro-catagory clearfix">

        @foreach (var item in Model)
        {
            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a id="itemsearch"  href="/Home/BagDetail/@item.Id">
                    <img src="@item.ImageUrl" alt="@item.Keywords">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From $@item.Price</p>
                        <h4 id="baslik">@item.Title</h4>
                    </div>
                </a>
            </div>
        }



    </div>
</div>
<!-- Product Catagories Area End -->
